body{
    padding: 0;
    margin: 0;
    height: 100;
    width: 100;
    background-color: rgb(219, 219, 219);
}

.basket{
background-color: transparent;
border: none;
width: 30px;
color: rgb(59, 59, 59);
}

.nav_bar{
    width: 100%;
    height: 20%;
    background-color:white;
    border-bottom: 1px solid rgb(179, 179, 179);
}
/* style="position: sticky;top: 0 ;z-index: 1;border-bottom:1px solid gray;" */

.login_btn{
    background-color: transparent;
    text-align: right;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 10px;
    padding: 5px;
    box-sizing: border-box;
    color: rgb(59, 59, 59);
}

.search_field{
    text-align: right;
    width: 150px;
    height: 20px;
    font-size: 10px;
}
.search_btn{
    background-color: transparent;
    border: none;
}
.cat_div{
    background-color: white;
    height: 10%;
    text-align: right;
    direction: rtl;
}

.buttons{
    background-color: transparent;
    text-align: right;
    font-size: 10px;
    box-sizing: border-box;
    color: rgb(59, 59, 59);
    border: none;
    padding-top: 5px;
}