.field{
    width: 174px;
    margin-left: 78;
}
.form{
    width: 200px;
    margin-left: 70;
}
.spaceemail{
    width: 200px;
}
.labelemail{
    margin-left: 18;
}
.spacename{
    width: 200px;
}
.labelename{
    margin-left: 24px;
}
