{% extends 'base/base.html' %}
{% load static %}
{% block selfstyle %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}
{% block title %}Login Page
{% endblock %}
{% block body %}
            <div class="container w-100 h-100">
            <div class="row d-flex justify-content-center align-items-center w-100 h-100">
                <div class="col-12 bg-dark h-50" style="text-align: center">
                    {% for category in category_list %}
                    <a href="#" class="mt-2">{{ category.title }}</a>
                    {% endfor %}

                </div>
            </div>
            </div>


{% endblock %}
